body{
    background-color: #db8bb5;
}

.header{ color:rgb(18, 16, 19); 
    border: 2px solid #0a0a0a;
    background-color: #c3dbf7;
}

section{
    padding: 20px;
    margin-top: 20px;
    background-color: #d8f9fe;
    border: black solid;
}

