h1{
    color:#990000;background-color:#FFCCCC; 
    border: 2px solid #0a0a0a;
     text-align: center;
}


 h2{
    color:#990000;background-color:#FFCCCC;
     border: 2px solid #0a0a0a;
      text-align: center;
     
 }
 
 body{ background-image:url("https://marketplace.canva.com/EAEthkBVLfQ/1/0/1600w/canva-blush-wave-desktop-wallpaper-drvq3zaYl2E.jpg")
    } 

 

