body{
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 300px;
}

.top {
    width:5px;
    margin: 5px;
    display: inline;
}

header{
    background-color:#17072b;
    color:#FFFF;
    padding: 30px ;
}

header h1{
    font-style: Tahoma, sans-serif ;
    font-weight: 900;
    margin: 0;
}

nav ul{ 
    list-style-type : none;
    margin: 0%;
    padding: 0%;
    font-weight: 600;

}

nav ul li{
    display: inline;
    margin-inline: 1% ;

}

nav ul li a {
    color: #FFFF;
    text-decoration: none;
}

main{
    padding: 20px;
}

section{
    margin-bottom: 20px;
}

#welcome, #lineup{
    background-color: #172d67;
    color: #FFFF;
    padding: 15px;
}

footer{
    background-color: #8c15e9;
    color: #FFFF;
    text-align: center;
    padding: 15px;
}


aside{
    margin-right: 20px;
    margin-left: 20px;
    width:auto;
    padding: 0%;
    float: right;
}



