h1{
    color:#14171a;background-color:#58b3e0; 
    border: 2px solid #0a0a0a;
     text-align: center;
}


 h2{
    color:#120101;background-color:#8ac6e2;
     border: 2px solid #0a0a0a;
      text-align: center;}
.img1 {
    filter:contrast(180%)
}
.img2{
    filter:blur(4px);
}
.img3{
    filter:saturate(5)
}